.matrix {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #fff;
    color: #000; 
    padding-bottom: 20px; /* Padding at the bottom for better spacing */
}

.matrix-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: lightgray;
    padding: 4px 0;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid #333; /* Add a bottom border to separate the header */
}

.matrix-tone-header {
    width: 50px;
    padding-right: 10px;
    text-align: right;
    background-color: #fff;
}

.matrix-tone {
    width: 50px;
    padding-right: 10px;
    text-align: right;
    background-color: lightgray;
}

.matrix-row {
    display: flex;
    align-items: center;
    position: relative;
}

.matrix-cell,
.matrix-cell-header {
    width: 30px;
    height: 30px;
    background-color: #fff; 
    border: 1px solid #444;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for background color changes */
    text-align: center;
}

.matrix-cell-header.play-index{
    background-color: #4CAF50 !important;
}

.matrix-cell{
    background-color: rgb(245, 238, 238);
}

.matrix-cell.active {
    background-color: #4caf50; /* Green for active cells */
}

.matrix-row.octave-divider {
    border-bottom: 4px solid #000;
}

.matrix-cell-divider {
    position: relative;
}

.matrix-cell-divider::after {
    content: "";
    position: absolute;
    right: -0.5px;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #333;
}

.matrix-cell.whole {
    background-color: #4caf50; /* Green for whole */
}

.matrix-cell.half {
    background-color: #ff9800; /* Orange for half */
}

.matrix-cell.quarter {
    background-color: #f44336; /* Red for quarter */
}

.matrix-cell.eighth {
    background-color: #2196f3; /* Blue for eighth */
}

.matrix-cell.sixteenth {
    background-color: yellow;
}

.matrix-cell.active {
    background-color: #4caf50;
}

.matrix-navigation {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.matrix-navigation button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px; 
    transition: background-color 0.3s, transform 0.3s; 
    border-radius: 5px; 
    cursor: pointer; 
}

/* Change background color on hover */
.matrix-navigation button:hover {
    background-color: #45a049; 
    transform: translateY(-2px); 
}

/* Change background color on active (click) */
.matrix-navigation button:active {
    background-color: #388e3c; 
    transform: translateY(0); 
}